@font-face {
font-family: "Aloha";
src: url("/Aloha.ttf");
src: 
url("/aloha-webfont.woff") format("woff")
}
body{
    text-align: center;
    color: #2e3192;
    text-align: center;
    font-family: "Aloha";
    padding: 0;
    margin: 0;
}
h2{
    font-size: 1.6em;
}
#clock{
    text-align: center;
    color: #233192;
    width: 100%;
    font-size: 2em;
    font-family: "Arial";
}
#clock > div{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

#clock > div > span{
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
small{
    padding-top: 5px;
    font-size: 0.9em;
}
input{
    font-size: 1.5em;
    margin: 25px;
    padding: 10px;
}


.center{
    height: 350px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#credits{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2e3192;
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    font-family: "Arial";
    border-top: none;
}